{% extends 'main/base.html' %}

{% block content %}
{% if notes %}
<div>
    {% for note in notes %}
    <p>{{note.title}}</p>
    <p>{{note.text}}</p>

    <form method="post" action="{% url 'update_done' note.id %}">
        {% csrf_token %}
        <p>Статус:
            <select name="done">

                {% if note.done == 'Сделано' %}
                <option value="{{note.done}}">{{note.done}}</option>
                <option value="Не cделано">Не cделано</option>

                {% else %}
                <option value="{{note.done}}">{{note.done}}</option>
                <option value="Сделано">Сделано</option>

                {% endif %}
            </select>

        </p>

        <button type="submit">Изменить</button>

    </form>

    <p>Создано: {{note.create_date}}</p>

    <a href="{% url 'update' note.id %}">Изменить</a> | <a href="{% url 'delete' note.id %}">Удалить</a>
</div>
{% endfor %}
{% else %}
Пусто...
{% endif %}
{% endblock %}