{% extends 'main/base.html' %}

{% block content %}

{% if user.is_authenticated %}
<form method="post">
    {% csrf_token %}
    <p>
        <label>Автор:</label>
        <select class="form-select" name="user_object_identification">
            <option value="all">Все авторы</option>
            {% for user_object in users_objects %}
            <option value="{{user_object.id}}">{{user_object}}</option>
            {% endfor %}
        </select>
    </p>
    <button type="submit" class="btn btn-primary">Применить</button>
</form>
{% endif %}

{% if notes %}

{% for note in notes %}
{% if note.hidden == 'Публичная' %}


{% if note.done == 'Сделано' %}

<div class="div_main" style="background-color:#e8acac;">
    {% else %}
    <div class="div_main" style="background-color:#9ddbe0;">
        {% endif %}


        <p>

            {% if note.done == 'Сделано' %}

        <h2 style="text-align: center;"><strike>{{note.title}}</strike></h2>
        <p><strike> {{note.text}} </strike></p>
        {% else %}
        <h2 style="text-align: center;">{{note.title}}</h2>
        <p>{{note.text}} </p>
        {% endif %}
        <p><b style="font-size:30px;">{{note.done}}</b></p>
        <p>Создано: {{note.create_date}}</p>
        <p style="font-size:25px;">{{note.author}}</p>
        {% if user.is_authenticated %} {% if note.author == user %}
        <p><a href="{% url 'update' note.id %}">Изменить</a> | <a href="{% url 'delete' note.id %}">Удалить</a></p>
        {% endif %}{% endif %}

    </div>

    {% elif note.hidden == 'Приватная' %}
    {% if note.author == user %}


    {% if note.done == 'Сделано' %}

    <div class="div_main" style="background-color:#e8acac;">
        {% else %}
        <div class="div_main" style="background-color:#9ddbe0;">
            {% endif %}


            <p>

                {% if note.done == 'Сделано' %}

            <h2 style="text-align: center;"><strike>{{note.title}}</strike></h2>
            <p><strike> {{note.text}} </strike></p>
            {% else %}
            <h2 style="text-align: center;">{{note.title}}</h2>
            <p>{{note.text}} </p>
            {% endif %}
            <p><b style="font-size:30px;">{{note.done}}</b></p>
            <p>Создано: {{note.create_date}}</p>
            <p style="font-size:25px;">{{note.author}}</p>
            <p>Приватная</p>
            {% if user.is_authenticated %} {% if note.author == user %}
            <p><a href="{% url 'update' note.id %}">Изменить</a> | <a href="{% url 'delete' note.id %}">Удалить</a></p>
            {% endif %}{% endif %}

        </div>
        {% endif %}
        {% endif %}
        {% endfor %}
        {% else %}
        Пусто...
        {% endif %}
        {% endblock %}