<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'main' %}">Главная страница</a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'create' %}">Создать таск</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'self_tasks' %}">Мои таски</a>
                </li>
                {% endif %}

                {% if user.is_staff %}
                <li class="nav-item">
                    <a class="nav-link" href="/admin/">Админка</a>
                </li>
                {% endif %}


                {% if user.is_authenticated %}

                <li class="nav-item">
                    <a class="nav-link disabled">Привет {{user}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Выйти</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'register_account' %}">Регистрация</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Войти</a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <form class='nav_form' method="get">

                        <input type="text" name="search"/>

                        <button type="submit" class="btn btn-primary">Искать</button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>