{% extends 'main/base.html' %}

{% block content %}

<form class="form_create" method="post">
    {% csrf_token %}

    <p>
        <label>Заголовок:</label>
        <input class='form-control' type="text" name="title" value="{{note.title}}"/>
    </p>

    <p>
        <label>Текст:</label>
        <textarea class='form-control' cols="40" rows="10" type="text" name="text"
                  value="{{note.text}}">{{note.text}}</textarea>
    </p>

    <p>
        <label>Сделано:</label>
        <select class="form-select" name="done">
            {% if note.done == 'Не cделано' %}
            <option value="Не cделано">Не сделано</option>
            <option value="Сделано">Сделано</option>

            {% else %}
            <option value="Сделано">Сделано</option>
            <option value="Не cделано">Не сделано</option>

            {% endif %}
        </select>
    </p>
    <p>
        <label>Скрытая запись:</label>
        <select class="form-select" name="hidden">
            {% if note.hidden == 'Публичная' %}
            <option value="Публичная">Публичная</option>
            <option value="Приватная">Приватная</option>

            {% else %}
            <option value="Приватная">Приватная</option>
            <option value="Публичная">Публичная</option>
            {% endif %}
        </select>
    </p>

    <button class="btn btn-primary" type="submit">Изменить</button>
</form>

{% endblock %}