body {
    BACKGROUND-COLOR: BLACK;
    COLOR: WHITE;
}


.form-control {
    width: 600px;
}

.form_create {
    width: 700px;
    margin: 20px auto 20px auto;
}

#id_done_0, #id_done_1 {
    width: 100px;
}